.navbar-fixed-top {
  background-color: black;
}
/**
 * Carousel
**/
.carousel-control {
  display: none;
}
.carousel-inner img {
  width: 100%;
}
.carousel-inner div.carousel-caption {
  text-align: left;
  margin-left: -5%;
}
.carousel-inner div.carousel-caption h3 {
  font-size: 200%;
  font-family: 'LatoBold', Arial, sans-serif;
}
.carousel-inner div.carousel-caption p {
  font-size: 125%;
  font-family: 'LatoRegular', Arial, sans-serif;
}
div#news-slider ol.carousel-indicators {
  bottom: 2%;
}
div#news-slider div.carousel-caption {
  font-size: 100%;
  font-family: 'LatoRegular', Arial, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 4%;
  bottom: 12%;
}
/**
  * cross-fade effect 
  * see https://coderwall.com/p/w4k7sw
**/
/*
.carousel .item { -webkit-transition: .7s ease-in-out opacity; -moz-transition: .7s ease-in-out opacity; -ms-transition: .7s ease-in-out opacity; -o-transition: .7s ease-in-out opacity; transition: .7s ease-in-out opacity; left: 0 !important; }
.carousel .active.left, .carousel .active.right { opacity: 0; z-index: 2; }
*/